{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<h1> MERT </h1>
<h2> OZAN</h2>
<h3> ILKER</h3>
<h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sunt nihil voluptas similique eligendi, ratione distinctio vel modi fuga ullam vero fugit optio in nam voluptate, sit, rem magnam aliquam.</h4>
<h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis quia repudiandae tenetur quisquam doloremque vero similique, rem consequuntur. Sit, asperiores recusandae? Fugiat, at cupiditate laudantium voluptatum eveniet dolorem nihil reiciendis?
</h5>
<h6> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum magni iure accusamus odio aut facilis molestias suscipit tempora, necessitatibus assumenda, tenetur molestiae ipsam sint. Quos laudantium ad illo incidunt dolor!</h6>


{% endblock %}